/* src/styles.css o src/app/app.css */
@import "tailwindcss";

@theme {
  /* Creamos nuestros colores personalizados */
  --color-brand-primary: #6b21a8;
  --color-brand-white: #ffffff;
  --color-brand-black: #000000;

  --color-brand-secundary: #80D6D6;

  --color-brand-gray-100: #f3f4f6;


  --color-text-gray-900: #111827;
  --color-text-gray-800: #1f2937;
  --color-text-gray-500: #6b7280;
  --color-text-gray-300: #d1d5db;
  --color-text-gray-100: #f3f4f6;

  --color-text-purple-600: #9333ea;
  --color-text-purple-800: #6b21a8;

  /*
  COLORES TOP 
  1f2937
  */
}