<header class="relative w-full bg-(--color-brand-white) py-4">
  <div class="flex h-15 w-full items-center justify-between">
    <div class="flex items-center">
      <a routerLink="/" class="text-3xl font-black tracking-tight text-gray-900">
        {{ data.logo }}
      </a>
    </div>

    <nav class="hidden md:flex items-center gap-8">
      <button
        (click)="scrollToSection('inicio')"
        class="text-sm font-medium text-(--color-text-gray-800) transition hover:text-(--color-text-purple-600) cursor-pointer"
      >
        {{ data.sections[0].name }}
      </button>

      <button
        (click)="scrollToSection('about')"
        class="text-sm font-medium text-(--color-text-gray-800) transition hover:text-(--color-text-purple-600) cursor-pointer"
      >
        {{ data.sections[1].name }}
      </button>

      <button
        (click)="scrollToSection('projects')"
        class="text-sm font-medium text-(--color-text-gray-800) transition hover:text-(--color-text-purple-600) cursor-pointer"
      >
        {{ data.sections[2].name }}
      </button>

      <button
        (click)="scrollToSection('footer')"
        class="text-sm font-medium text-(--color-text-gray-800) transition hover:text-(--color-text-purple-600) cursor-pointer"
      >
        {{ data.sections[3].name }}
      </button>
    </nav>

    <button
      (click)="toggleMenu()"
      type="button"
      class="cursor-pointer rounded-lg p-2 text-(--color-text-gray-500) transition hover:bg-(--color-brand-gray-100) hover:text-(--color-text-gray-900) md:hidden"
      aria-label="Abrir menú"
    >
      <img src="assets/menu-dots.svg" alt="Icono de menú" class="h-8 w-8" />
    </button>
  </div>

  @if (isMenuOpen) {
    <nav
      class="mt-2 flex flex-col gap-4 rounded-2xl bg-white p-6 shadow-xl border border-gray-100 md:hidden"
    >
      <button
        (click)="scrollToSection('inicio')"
        class="text-left text-base font-semibold text-(--color-text-gray-800) transition hover:text-(--color-text-purple-600) cursor-pointer"
      >
        {{ data.sections[0].name }}
      </button>

      <button
        (click)="scrollToSection('about')"
        class="text-left text-base font-semibold text-(--color-text-gray-800) transition hover:text-(--color-text-purple-600) cursor-pointer"
      >
        {{ data.sections[1].name }}
      </button>

      <button
        (click)="scrollToSection('projects')"
        class="text-left text-base font-semibold text-(--color-text-gray-800) transition hover:text-(--color-text-purple-600) cursor-pointer"
      >
        {{ data.sections[2].name }}
      </button>

      <button
        (click)="scrollToSection('footer')"
        class="text-left text-base font-semibold text-(--color-text-gray-800) transition hover:text-(--color-text-purple-600) cursor-pointer"
      >
        {{ data.sections[3].name }}
      </button>
    </nav>
  }
</header>
