<div class="fixed inset-0 z-50 flex justify-center pointer-events-none">
  <div class="relative w-full max-w-350">
    <aside
      class="pointer-events-auto absolute left-0 top-40 flex -translate-x-1/2 flex-col items-center gap-6 bg-(--color-brand-primary) px-3 py-6 text-white shadow-lg md:px-4 md:py-8"
    >
      <a
        href="{{ data.socialLinks.github }} "
        target="_blank"
        rel="noopener noreferrer"
        class="transition-transform hover:scale-110 hover:text-gray-200"
        aria-label="Github"
      >
        <img src="icon-social/github.svg" alt="Github" class="h-6 w-6" />
      </a>

      <a
        href="mailto:{{ data.socialLinks.gmail }} "
        target="_blank"
        rel="noopener noreferrer"
        class="transition-transform hover:scale-110 hover:text-gray-200"
        aria-label="Gmail"
      >
        <img src="icon-social/gmail.svg" alt="Gmail" class="h-7 w-7" />
      </a>

      <a
        href="{{ data.socialLinks.linkdein }} "
        target="_blank"
        rel="noopener noreferrer"
        class="transition-transform hover:scale-110 hover:text-gray-200"
        aria-label="LinkedIn"
      >
        <img src="icon-social/linkedin.svg" alt="LinkedIn" class="h-8 w-8" />
      </a>

      <a
        href="{{ data.socialLinks.instagram }} "
        target="_blank"
        rel="noopener noreferrer"
        class="transition-transform hover:scale-110 hover:text-gray-200"
        aria-label="Instagram"
      >
        <img src="icon-social/instagram.svg" alt="Instagram" class="h-6 w-6" />
      </a>

      <a
        href="{{ data.socialLinks.facebook }} "
        target="_blank"
        rel="noopener noreferrer"
        class="transition-transform hover:scale-110 hover:text-gray-200"
        aria-label="Facebook"
      >
        <img src="icon-social/facebook.svg" alt="Facebook" class="h-6 w-6" />
      </a>
    </aside>
  </div>
</div>
